<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
</head>
<body>
<h1>Sign In</h1>
    <form method="post" action="/login">
        <input type="text" name="id" placeholder="ID" /><br />
        <input type="password" name="pwd" placeholder="PASSWORD"/><br />
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit">Sign In</button>
    </form>
</body>
</html>
